html, body {
  margin: 0;
  padding: 0; 
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}

canvas {
  display: block;
}

#canvas-container {
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10%;
  /* align-items: center; */
}

canvas {
  transform: scale(0.5);
  transform-origin: top center;
}

form, select, button {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

select {
  color: rgb(59, 32, 0);
  border: 0px solid white;
  background-color: rgb(231, 228, 223);
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 2px;
}

button {
  color: white;
  border: 0px solid white;
  background-color: rgb(101, 101, 101);
  padding: 6px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 2px;
}

a {
  font-size: 15px;
  padding-left: 5px;
}



